<ion-view hide-back-button="true"  can-swipe-back="false" view-title="{{vm.title}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-close-empty" data-ng-click="vm.cancelDeposit()"></button>
    </ion-nav-buttons>
    <ion-content>

        <!--ERRORS -->
        <div data-ng-show="vm.amount !== vm.checksTotalAmount">
            <div class="instruction-toast">Totals Mismatch</div>
        </div>

        <div class="list">
            <!-- Account Select -->
            <label class="item item-input item-select">
                <span class="input-label">Account</span>
                <select name="account" data-ng-model="vm.selectedAccount" data-ng-change="vm.accountChange()">
                    <option ng-repeat="account in vm.accounts">{{account.accountNumber}}</option>
                </select>
            </label>
            <!-- Deposit Amount -->
            <label class="item item-input">
                <span class="input-label">Deposit:</span>
                <input data-ng-currency type="text" data-ng-required="true" data-ng-model="vm.amount" placeholder="Deposit Amount" data-ng-change="vm.depositAmountChange()" >
            </label>
            <!-- Checks Total Amount -->
            <label data-ng-show="vm.type === 'MULTIPLE'" class="item item-input">
                <span class="input-label">Checks:</span>
                <input data-ng-currency type="text" readonly data-ng-model="vm.checksTotalAmount" placeholder="Checks List Total">
            </label>
            <!-- Submitted Checks List -->
            <div class="item item-divider" data-ng-show="vm.type === 'SINGLE'">
                Submitted Check
            </div>
            <div class="item item-divider" data-ng-show="vm.type === 'MULTIPLE'">
                Saved Checks
            </div>
            <ion-list>
                <ion-item class="item item-thumbnail-right" data-ng-repeat="check in vm.checks">
                    <h4>{{check.amount}}</h4>
                    <ion-option-button class="button-positive" data-ng-click="vm.deleteCheck($index)">Delete</ion-option-button>
                    <ion-option-button class="button-assertive" data-ng-click="vm.retake($index)">Retake</ion-option-button>
                    <img class="check-thumbnail-deposit-review" data-ng-src="data:image/jpeg;base64,{{check.checkFrontImage}}">
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <!-- Footer -->
    <div class="bar bar-footer bar-stable">
        <!-- Add Check Button -->
        <button class="button button-clear button-positive" data-ng-show="vm.type === 'MULTIPLE'" data-ng-click="vm.addCheck()">
            Add Check
        </button>
        <!-- Complete Deposit Button -->
        <button class="button button-clear button-positive pull-right" data-ng-disabled="vm.amount !== vm.checksTotalAmount" data-ng-click="vm.completeDeposit()">
            Complete Deposit
        </button>
    </div>
</ion-view>
