<ion-view view-title="{{vm.title}}">
  <ion-content>
    <!-- Sidata-ngle Deposit Card -->
    <div class="card" data-ng-click="vm.singleDeposit()">
      <div class="item item-text-wrap">
        <div class="item item-icon-left">
          <h2>Make a Single Check Deposit</h2>
          <i class="icon ion-minus-round"></i>
        </div>
      </div>
    </div>
    <!-- Multiple Deposit Card -->
    <div class="card" data-ng-click="vm.multipleDeposit()">
      <div class="item item-text-wrap">
        <div class="item item-icon-left">
          <h2>Make a Multiple Check Deposit</h2>
          <i class="icon ion-navicon-round"></i>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
